*{
    margin: 0;
    
    font-family: 'Noto Sans', sans-serif;
}
.menuarea{
    background: #180e45;
    position: sticky;
    top: 0;
   
    width: 100%;
}
.alignment{
    width:80% ;
    background: #180e45;
    margin: auto;
 }
 ul{
    list-style: none;
    padding: 0;
 }
 a{
    text-decoration: none;
   color: rgb(255, 255, 255);
 }
 .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
 }
.menu_ul{
    display: flex; 
}
.menu_ul li a {
    padding: 15px 10px;
    display: block;
} 
.menu_ul li a:hover {
    background: #5135df;
    color: rgb(1, 1, 1);
} 

.dropmenu{
    display: none;
    position: absolute ;
    background:#ffffff ;
    width: 100%;
}
.menu_ul li:hover .dropmenu {
     display: block;
} 
.menu_ul li{
    position: relative;
 } 


 
 .dropmenu li:hover .subdrop {
    display: block;
} 
.dropmenu li{
    position: relative;
}
 .subdrop{
    display: none;
    position: absolute;
     left: 100%;
     top:0 ;
     width: 100%;
     background:#fcfcfc ; 

 }
.formarea{
    background: url('fhgjh.gif');
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    background-size: 100% ;
    padding: 60px 0;
  
    
 }

 h1{
    color: #ffffff;
 }
 p{
    color: #ffffff;
 }

 .formcon{
  margin-left: 800px;
    width: 450px;
    padding: 20px;
   background:#252525; 
  
 }
 .inputfield input{
    width: 220px;
    height: 40px;
    font-size: 15px;
    color: #000000;
    padding-left:10px ;
    box-sizing: border-box;
    margin-top: 5px;
    background: #cecece; 
    border-width: 5px;
    border: 0;
    border-radius:5px;


 }
 .inputfield2 input{
    display: block;
    width: 443px;
    height: 40px;
    outline: 0 ; 
    font-size: 18px;
    color: #000000;
    padding-left:10px ;
    box-sizing: border-box;
    margin-top: 5px;
    background: #cecece; ; 
    border-width: 5px;
    border: 0;
    border-radius: 5px;
 }
 .date{
    font-size: 12px;
    color: #ffffff;
 }
 .date1 a{ 
    font-size: 12px;
    color: #ff0303;
 }
 .inputfield3 select{
    width: 32%;
    height: 30px;
    font-size: 15px;
    color: #000000;
    padding-left:10px ;
    box-sizing: border-box;
    margin-top: 5px;
    background: #ebe8e8; 
    border-width: 5px;
    border: 0;
    border-radius:5px;}
    .inputfield4 { 
        color: #ffffff;
        display: flex;
        gap: 5px;
     }
     .inputfield5 button{
        height: 40px;
        width: 50%;
       background: rgb(59, 194, 97);
       font-size: 15px;
       color: #ffffff;
      border: none;
      border-radius: 5px;
      margin-left: 110px;
     }

.gender{
   height: 40px;
   width: 120px;
   border: 1px solid black;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;

}


